@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_styles/index.css';
@import './_styles/test.css';
@import './_styles/section_3.css';
@import './_styles/section_4.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --primary: #9b917e;
  --secondary: #f4d5ac;
  --primary_dark: #6E6259;
  --text_dark: #988F87;
}


 body {
   background-color: #fdf9f5;
   /* font-family: 'Nunito', sans-serif; */

 }


