@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_styles/index.css';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



#intro_wrapper {
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  position: fixed;
  align-items: center;
}


#intro_image_wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('../../public/villa.jpg');
  background-size: cover;
  right: 0;
}

