/* ANIMATIONS */

.image_curtain {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--primary_dark);
    z-index: 100;
    top: 0;
    left: 0;
}

.villas_curtain {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--primary_dark);
    z-index: 100;
    top: 0;
    left: 0;
    background-image: url('../../../public/curtain.png');
}

/* PART 2 */



.description {
    height: 800px;
    background-color: white;
    padding-bottom: 150px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.description div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;

}


.description p {
    font-size: 1rem;
    margin-top: 20px;
    color: var(--primary_dark);
    font-weight: 300;
    line-height: 1.5;
    max-width: 700px;

}

.ethos {
    background-color: #EAE6E0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}


.ethos_intro {
    width: 80%;
    height: 300px;
    /* margin-top: -150px; */
    transform: translateY(-150px);
    color: var(--primary_dark);
    display: flex;
}

.ethos_intro div:nth-child(1) {
    position: relative;
    width: 300px;
    height: 300px;
}
.ethos_intro div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: calc(2rem + 2vw);
    margin-left: 20px;
    margin-top: 50px;
}

.ethos_intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;

}
.ethos_intro_text {
    display: flex;
    align-items: flex-end;
}


.ethos_mid {
    position: relative;
    height: 350px;
    width: 100%;

}

.ethos_mid p {
    position: absolute;
    left: 25%;
    top: 50%;
    max-width: 300px;
    font-size: 1.2rem;
    color: var(--primary_dark);
}



.ethos_outro {
    display: grid;
    grid-template-columns: 70% 1fr;
    width: 80%;
    color: var(--primary_dark);


}

.ethos_outro div:nth-child(1) {
    height: 700px;
    width: 80%;
    position: relative;
    margin-bottom: -150px;
}

.ethos_outro div:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;

}

.ethos_outro div:nth-child(2) {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.ethos_outro div:nth-child(2) p {
    font-size: 1.2rem;
    color: var(--primary_dark);
    line-height: 1.5;
    max-width: 400px;
    margin-left: 30px;
    margin-top: 100px;

}

.whitespace {
    height: 500px;
    width: 100%;
    background-color: white;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    z-index: 50;
    position: fixed;
    top: 0;
}

.navbar_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.sitename {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary_dark);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100;
}

.nav-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary_dark);
    border-radius: 50%;
}

.nav-icon svg {
    font-size: 20px;
    color: var(--primary_dark)
}


.burger {
    width: 60px;
    height: 60px;
    color: var(--primary_dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.4px solid var(--primary_dark);
}

.burger svg {
    font-size: 30px;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 2px 4px 0 rgba(20, 20, 20, 0.111);
    backdrop-filter: blur(4px);
    border: 1px solid var(--primary_dark);
}

.glassmorphism-intro {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border-top: 4px solid white;
}


.burger-line {
    width: 100%;
    height: 3px;
    backdrop-filter: blur(10px);
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(24, 24, 24, 0.15);
    backdrop-filter: blur(4px);
    margin: 5px 0;
    border-radius: 4px;
}

.intro-text {
    font-size: calc(2rem + 5vw);
    font-weight: 500;
    color: rgb(28, 28, 28);
    color: var(--primary_dark)
}

.intro-para {
    max-width: 500px;
    text-align: center;
}

.intro-subtitle {
    text-align: center;
    font-size: 2rem;
    color: var(--primary)
}




.intro_container {
    background-color: rgba(250, 235, 215, 0.16);
}

.new_intro_text {
    font-size: calc(2rem + 5vw);
    opacity: 0;
}








/* Define wrapper styles */
.wrapper__2 {
    min-height: 100vh;
}

.sticky_container {
    height: 200vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sticky_inner {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
    top: 0;
}

.sticky_image {
   position: relative;
    height: 100%;
    width: 100%;
}

.sticky_image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: -20%;
    
}

.sticky_content {
    width: 100%;
    height: 100%;
}

.text_container {
    height: 69vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;


}

.scroll_down {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scroll_down {
    font-size: 20px;
}

.scroll_down svg {
    font-size: 20px;
    color: var(--primary_dark);
}



.part_two {
    height: 100vh;
    width: 100%;
    background-color: #FAECD9;
    color: var(--primary_dark);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 100;
}

.part_two_intro {
    font-size: calc(3rem + 5vw);
    width: 100%;
    line-height: 0.8;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    margin-top: 12%;
    margin-right: 5%;
    display: grid;
    grid-template-rows: repeat(3 1fr);
}

.part_two_intro div {
    display: flex;
    width: 100%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
}

.two_line_2 {
    position: relative;
    left: 200px;
}

.two_line_3 {
    position: relative;
}

/* ROUND DIV */
.part_three {
    /* height: 150vh; */
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.round_container {
    position: relative;
}

.inner_round {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FAECD9;
    /* top: -130px; */
    /* z-index: 300; */
}

.scroller {
    /* animation: scroll 5s linear infinite; */
    z-index: 3;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.scroller {
    width: 100%;
    height: 100vh;
    position: relative;
}

.scroller_inner {
    animation: scroll 10s linear infinite;
    height: 100%;
    width: 9000px;
    background-color: rosybrown;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(10, 900px);
}

.scroller_gallery {
    /* min-width: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scroller_gallery img {
    object-fit: cover;
    min-width: 500px;
    height: 100%;
}

@keyframes scroll {
    to {
        transform: translate(calc(-20% - 0.5rem));
    }
}


.part_four {
    /* background-color: #4B6F44; */
    height: 30vh;
    width: 100%;
}

@media screen and (max-width: 1246px) {
    .ethos_intro {
        width: 95%;
        align-items: center;
        justify-content: center;
    }
    .description {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description div {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

  
}
@media screen and (max-width: 860px) {
        .ethos {
            width: 100%;
        }
        
        .ethos_intro  {
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .ethos_outro {
            width: 90%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 300px;
        }

        .ethos_intro div:nth-child(1) {
            position: relative;
            width: 200px;
            height: 200px;
        }

        .ethos_outro div:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            width: 100%;
            position: relative;
            margin-bottom: 0;
        }
        .ethos_outro div:nth-child(2) {
            display: flex;
            justify-content: center
        }
        .ethos_outro div:nth-child(2) p {
            max-width: 400px;
            margin: 0;
        }

        .ethos_mid {
            position: relative;
            height: 200px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ethos_mid p {
           top: 0;
           position: static;
        }
        
}
