    .villas_wrapper {
        /* background-color: #e1d7c7; */
        z-index: -1;
    }

    .three_sticky {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .three_inner {
        width: 80%;
        height: 500px;
    }

    .three_header {
        font-size: calc(2rem + 4vw);
        font-weight: 700;
        color: #6E6259;
        display: flex;
        align-items: flex-end;
    }


    .villa_box_container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

  
    .thee_intro {
        display: flex;
    }

    .three_seemore {
        display: flex;
        align-items: center;
        background-color: antiquewhite  ;
    }
.three_container {
    z-index: -10;
}

    .villa_box_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    .villa_box_container {
        height: 600px;
        width: 800px;
        position: relative;
        margin-right: 120px;
        display: flex;
    }
    .villa_box_title {
        position: absolute;
        transform: rotate(-90deg);
        left: -150px;
        bottom: 50%;
       
        
    }
    .villa_box_title p {
        color: var(--primary_dark);
        font-size: 30px;
    }

    @media screen and (max-width: 1800px) {
        .villa_box_container {
            height: 500px;
            width: 700px;
        }
    }


    .villa_name {
        position: absolute;
        bottom: -110px;
        left: 0;
        color: #cfc3af;
        padding: 10px;
        font-size: 10rem;
        font-weight: 700;
        
    }

    .motion_villas {
        display: flex;
        padding-left:5%;
    
    }

    
  
    .horizontal_scroll_wrapper {
        position: relative;
        height: 250vh;
        background-color: red;
    
    }
    .horizontal_scroll_inner {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .intro_box {
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 160px;
       
    
    }
    .intro_box > div {
        max-width: 550px;
        border-left: 2px solid  rgb(210, 202, 191);
        padding-left: 20px;
        position: relative;
    }
    .intro_box div p:nth-child(2) {
        color: var(--text_dark)
    }
    .intro_box_header {
        font-weight: 500;
        font-size: calc(1rem + 0.3vw);
        color: var(--primary_dark)
    }   

    .intro_box_para {
        font-size: calc(1rem + 0.3vw);
    }

    .expolore-btn {
        width: 200px;
        height: 50px;
        background-color: #cfc3af;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: #6E6259;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .intro_box_pointer {
        display: inline-flex;
        padding: 10px;
        align-items: center;
        margin-top: 20px;
        font-size: 20px;
        border: 1px solid var(--text_dark);
        margin-bottom: 10px;
        color: var(--text_dark);

    }

    .intro_box_pointer svg {
        margin-left: 10px;
        transition: all 0.3s ease-in-out;
    }

    .intro_box_names {
        position: absolute;
        bottom: 45%;
        left: -38%;
        transform: rotate(-90deg);
        font-size: 30px;
        color: rgb(210, 202, 191)

    }


    @media screen and (max-width: 1177px) {
        .motion_villas {
            padding-left: 3%;
        }
    }
    @media screen and (max-width: 842px) {
        .horizontal_scroll_inner {
            height: 40vh;
        }

        .villa_box_container {
            height: 400px;
            width: 500px;
            margin-right: 50px;
        }
        .three_sticky {
            /* height: 50vh; */
        }
    }