.villa_two_container {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/4.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}
.villa_two_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.223);
    z-index: 1;
}

.villa_two_container {
    font-size: 10rem;
    color: white;
    width: 100%;
}

.villa_two_container div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
   
}
